Repository Recipe-Web-App/recipe-scraper-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-cc, radon-mi, pytest-check, kube-score

Path conditions:
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
  pytest-check: any of: \.py$
  kube-score: any of: k8s/.*\.yaml$

chore(rewrite): intregated prek hooks & resolved all findings
  .markdownlint.yaml
  .pre-commit-config.yaml
  .prettierrc
  .spectral.yaml
  .yamllint.yaml
  commitlint.config.js
  pyproject.toml
  src/app/api/v1/endpoints/auth.py
  src/app/api/v1/endpoints/health.py
  src/app/api/v1/router.py
  src/app/auth/__init__.py
  src/app/auth/dependencies.py
  src/app/auth/jwt.py
  src/app/auth/oauth2.py
  src/app/core/events/__init__.py
  src/app/core/events/lifespan.py
  src/app/core/exceptions.py
  src/app/core/middleware/__init__.py
  src/app/core/middleware/logging.py
  src/app/core/middleware/request_id.py
  src/app/core/middleware/security_headers.py
  src/app/core/middleware/timing.py
  src/app/main.py
  src/app/observability/logging.py
  src/app/schemas/__init__.py
  src/app/schemas/auth.py
Due: radon-cc, radon-mi, pytest-check

feat(rewrite): implemented caching & rate limiting
  src/app/api/v1/endpoints/health.py
  src/app/cache/__init__.py
  src/app/cache/decorators.py
  src/app/cache/rate_limit.py
  src/app/cache/redis.py
  src/app/core/events/lifespan.py
  src/app/factory.py
Due: radon-cc, radon-mi, pytest-check

feat(rewrite): implemented arq worker for background jobs
  src/app/core/events/lifespan.py
  src/app/workers/__init__.py
  src/app/workers/arq.py
  src/app/workers/jobs.py
  src/app/workers/tasks/__init__.py
  src/app/workers/tasks/example.py
Due: radon-cc, radon-mi, pytest-check

feat(rewrite): integrated prometheus & otel for observability
  .pre-commit-config.yaml
  pyproject.toml
  src/app/core/events/lifespan.py
  src/app/factory.py
  src/app/observability/__init__.py
  src/app/observability/metrics.py
  src/app/observability/tracing.py
Due: radon-cc, radon-mi, pytest-check

feat(rewrite): added docker configuration
  .dockerignore
  .hadolint.yaml
  .pre-commit-config.yaml
  Dockerfile
  docker-compose.yml
  docker/grafana/provisioning/dashboards/dashboards.yml
  docker/grafana/provisioning/datasources/datasources.yml
  docker/prometheus/prometheus.yml
  scripts/entrypoint.sh
  scripts/start-worker.sh
Due: none

chore(rewrite): github config
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-and-a.yml
  .github/DISCUSSION_TEMPLATE/show-and-tell.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy.yml
  .github/workflows/greet.yml
  .github/workflows/license-check.yml
  .github/workflows/links.yml
  .github/workflows/lock.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-size.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
Due: none

build(rewrite): implemented docker/k8s deployment w/ scripts
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  k8s/base/deployment.yaml
  k8s/base/hpa.yaml
  k8s/base/ingress.yaml
  k8s/base/kustomization.yaml
  k8s/base/networkpolicy.yaml
  k8s/base/pdb.yaml
  k8s/base/service.yaml
  k8s/base/serviceaccount.yaml
  k8s/base/worker-deployment.yaml
  k8s/config/development.env
  k8s/config/development.env.example
  k8s/config/production.env
  k8s/config/production.env.example
  k8s/config/secrets.env
  k8s/config/secrets.env.example
  k8s/config/staging.env
  k8s/config/staging.env.example
  k8s/overlays/development/kustomization.yaml
  k8s/overlays/development/namespace.yaml
  k8s/overlays/production/kustomization.yaml
  k8s/overlays/production/namespace.yaml
  k8s/overlays/staging/kustomization.yaml
  k8s/overlays/staging/namespace.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/stop-container.sh
  scripts/containerManagement/update-container.sh
Due: kube-score

test(rewrite): implemented unit tests
  poetry.lock
  pyproject.toml
  scripts/__init__.py
  scripts/python/__init__.py
  scripts/python/test_runner.py
  tests/conftest.py
  tests/factories/auth.py
  tests/factories/conftest.py
  tests/factories/settings.py
  tests/unit/api/__init__.py
  tests/unit/api/test_auth.py
  tests/unit/api/test_health.py
  tests/unit/auth/__init__.py
  tests/unit/auth/test_dependencies.py
  tests/unit/auth/test_jwt.py
  tests/unit/auth/test_oauth2.py
  tests/unit/auth/test_permissions.py
  tests/unit/cache/__init__.py
  tests/unit/cache/test_decorators.py
  tests/unit/cache/test_rate_limit.py
  tests/unit/cache/test_redis.py
  tests/unit/conftest.py
  tests/unit/core/__init__.py
  tests/unit/core/middleware/__init__.py
  tests/unit/core/middleware/test_logging.py
  tests/unit/core/middleware/test_request_id.py
  tests/unit/core/middleware/test_security_headers.py
  tests/unit/core/middleware/test_timing.py
  tests/unit/core/test_config.py
  tests/unit/core/test_exceptions.py
  tests/unit/core/test_factory.py
  tests/unit/core/test_lifespan.py
  tests/unit/observability/__init__.py
  tests/unit/observability/test_logging.py
  tests/unit/observability/test_metrics.py
  tests/unit/observability/test_tracing.py
  tests/unit/workers/__init__.py
  tests/unit/workers/test_arq.py
  tests/unit/workers/test_jobs.py
Due: radon-cc, radon-mi, pytest-check

test(rewrite): implemented integration tests
  src/app/factory.py
  src/app/observability/tracing.py
  src/app/workers/jobs.py
  tests/integration/api/test_auth_endpoints.py
  tests/integration/api/test_health_endpoints.py
  tests/integration/conftest.py
  tests/integration/test_arq_workers.py
  tests/integration/test_cache_operations.py
  tests/integration/test_cache_ttl.py
  tests/integration/test_lifespan.py
  tests/integration/test_rate_limiting.py
  tests/integration/test_redis.py
  tests/integration/test_redis_resilience.py
Due: radon-cc, radon-mi, pytest-check

test(rewrite): implemented e2e tests
  tests/e2e/conftest.py
  tests/e2e/test_auth_flow.py
  tests/e2e/test_background_jobs.py
Due: radon-cc, radon-mi, pytest-check

test(rewrite): implemented performance tests
  pyproject.toml
  scripts/python/test_runner.py
  tests/performance/conftest.py
  tests/performance/test_cache_performance.py
  tests/performance/test_jwt_performance.py
Due: radon-cc, radon-mi, pytest-check

fix(rewrite): fixed broken unit test
  tests/unit/workers/test_jobs.py
Due: radon-cc, radon-mi, pytest-check

docs(rewrite): added markdown docs for new service
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
  docs/api.md
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/development.md
Due: none

chore: added serena config to gitignore
  .gitignore
Due: none

feat(rewrite): integrated with auth-service
  .env.example
  README.md
  docs/architecture.md
  docs/configuration.md
  pyproject.toml
  src/app/api/v1/endpoints/auth.py
  src/app/api/v1/router.py
  src/app/auth/client/__init__.py
  src/app/auth/client/auth_service.py
  src/app/auth/dependencies.py
  src/app/auth/providers/__init__.py
  src/app/auth/providers/exceptions.py
  src/app/auth/providers/factory.py
  src/app/auth/providers/header.py
  src/app/auth/providers/introspection.py
  src/app/auth/providers/local_jwt.py
  src/app/auth/providers/models.py
  src/app/auth/providers/protocol.py
  src/app/cache/rate_limit.py
  src/app/cache/redis.py
  src/app/core/config.py
  src/app/core/events/lifespan.py
  src/app/factory.py
  src/app/workers/arq.py
  tests/e2e/conftest.py
  tests/e2e/test_auth_flow.py
  tests/e2e/test_auth_providers.py
  tests/integration/api/test_auth_endpoints.py
  tests/integration/conftest.py
  tests/unit/api/test_auth.py
  tests/unit/auth/providers/__init__.py
  tests/unit/auth/providers/test_factory.py
  tests/unit/auth/providers/test_header.py
  tests/unit/auth/providers/test_local_jwt.py
Due: radon-cc, radon-mi, pytest-check

docs(rewrite): updated open api spec with better design patterns
  .gitignore
  docs/api/recipe-scraper-openapi.yaml
Due: none

fix(rewrite): removed old basepath from remaining endpoints
  .github/SECURITY.md
  README.md
  config/base/api.yaml
  docs/api.md
  docs/api/recipe-scraper-openapi.yaml
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/development.md
  k8s/base/deployment.yaml
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  src/app/api/v1/router.py
  src/app/auth/dependencies.py
  src/app/auth/oauth2.py
  src/app/core/config/settings.py
  tests/conftest.py
  tests/factories/settings.py
  tests/integration/api/test_health_endpoints.py
  tests/integration/test_lifespan.py
  tests/integration/test_redis_resilience.py
  tests/unit/cache/test_rate_limit.py
  tests/unit/core/middleware/test_security_headers.py
  tests/unit/core/test_factory.py
Due: radon-cc, radon-mi, pytest-check, kube-score

chore(rewrite): implemented schema classes for open api spec
  docs/api/recipe-scraper-openapi.yaml
  pyproject.toml
  src/app/schemas/__init__.py
  src/app/schemas/base.py
  src/app/schemas/enums.py
  src/app/schemas/health.py
  src/app/schemas/ingredient.py
  src/app/schemas/nutrition.py
  src/app/schemas/recipe.py
  src/app/schemas/recommendations.py
  src/app/schemas/shopping.py
  tests/unit/schemas/__init__.py
  tests/unit/schemas/test_base.py
  tests/unit/schemas/test_models.py
Due: radon-cc, radon-mi, pytest-check

feat(rewrite): added llama client interface
  config/base/llm.yaml
  config/environments/development/llm.yaml
  config/environments/production/llm.yaml
  docs/architecture.md
  docs/llm.md
  docs/ollama-setup.md
  k8s/base/networkpolicy.yaml
  src/app/core/config/settings.py
  src/app/core/events/lifespan.py
  src/app/llm/__init__.py
  src/app/llm/client/__init__.py
  src/app/llm/client/ollama.py
  src/app/llm/exceptions.py
  src/app/llm/models.py
  src/app/llm/prompts/__init__.py
  src/app/llm/prompts/base.py
  tests/e2e/llm/__init__.py
  tests/e2e/llm/test_llm_e2e.py
  tests/fixtures/llm_responses.py
  tests/integration/llm/__init__.py
  tests/integration/llm/conftest.py
  tests/integration/llm/test_ollama_integration.py
  tests/unit/llm/__init__.py
  tests/unit/llm/test_ollama_client.py
  tests/unit/llm/test_prompts.py
Due: radon-cc, radon-mi, pytest-check, kube-score

feat(rewrite): added remote groq alternative for LLM
  .github/workflows/deploy.yml
  config/base/llm.yaml
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/llm.md
  k8s/config/secrets.env.example
  src/app/core/config/settings.py
  src/app/core/events/lifespan.py
  src/app/llm/client/__init__.py
  src/app/llm/client/fallback.py
  src/app/llm/client/groq.py
  src/app/llm/client/protocol.py
  src/app/llm/models.py
  tests/fixtures/llm_responses.py
  tests/unit/llm/test_fallback_client.py
  tests/unit/llm/test_groq_client.py
Due: radon-cc, radon-mi, pytest-check

fix(rewrite): fixed deployment issues
  .env.example
  .github/workflows/deploy.yml
  .gitignore
  .gitleaks.toml
  config/base/auth.yaml
  docs/configuration.md
  docs/deployment.md
  k8s/base/deployment.yaml
  k8s/base/worker-deployment.yaml
  k8s/config/development.env
  k8s/config/development.env.example
  k8s/config/production.env
  k8s/config/production.env.example
  k8s/config/secrets.env
  k8s/config/secrets.env.example
  k8s/config/staging.env
  k8s/config/staging.env.example
  k8s/overlays/development/kustomization.yaml
  k8s/overlays/production/kustomization.yaml
  k8s/overlays/staging/kustomization.yaml
  scripts/start-worker.sh
Due: kube-score

test(rewrite): increased overall code coverage
  tests/unit/auth/client/__init__.py
  tests/unit/auth/client/test_auth_service.py
  tests/unit/auth/providers/test_introspection.py
  tests/unit/auth/providers/test_models.py
  tests/unit/cache/test_decorators.py
  tests/unit/core/test_exceptions.py
  tests/unit/core/test_lifespan.py
  tests/unit/llm/test_groq_client.py
  tests/unit/observability/test_logging.py
  tests/unit/observability/test_metrics.py
  tests/unit/workers/test_example.py
Due: radon-cc, radon-mi, pytest-check

chore(rewrite): added temp dir to gitignore
  .gitignore
Due: none

feat(rewrite): added root endpoint
  docs/api/recipe-scraper-openapi.yaml
  src/app/api/v1/endpoints/root.py
  src/app/core/config/settings.py
  src/app/factory.py
  src/app/schemas/__init__.py
  src/app/schemas/root.py
  tests/e2e/test_root_endpoint.py
  tests/integration/api/test_health_endpoints.py
  tests/performance/conftest.py
  tests/performance/test_root_performance.py
  tests/unit/api/test_root.py
  tests/unit/core/test_config.py
  tests/unit/core/test_factory.py
Due: radon-cc, radon-mi, pytest-check

refactor(rewrite): updated redis config to support new database
  .gitignore
  config/base/redis.yaml
  config/environments/local/auth.yaml
  config/environments/local/llm.yaml
  config/environments/local/logging.yaml
  config/environments/local/redis.yaml
  src/app/core/config/settings.py
  src/app/workers/arq.py
  src/app/workers/jobs.py
  tests/e2e/test_background_jobs.py
  tests/integration/test_arq_workers.py
  tests/unit/core/test_config.py
Due: radon-cc, radon-mi, pytest-check

feat(rewrite): added metrics endpoint
  src/app/observability/metrics.py
  tests/e2e/conftest.py
  tests/e2e/test_metrics_endpoint.py
  tests/integration/api/test_metrics_endpoint.py
  tests/integration/conftest.py
  tests/performance/conftest.py
  tests/performance/test_metrics_performance.py
  tests/unit/observability/test_metrics.py
Due: radon-cc, radon-mi, pytest-check

fix(rewrite): added missing prefix to routes
  docs/api/recipe-scraper-openapi.yaml
  src/app/api/v1/endpoints/root.py
  src/app/factory.py
  src/app/observability/metrics.py
  src/app/schemas/root.py
  tests/e2e/test_metrics_endpoint.py
  tests/e2e/test_root_endpoint.py
  tests/integration/api/test_health_endpoints.py
  tests/integration/api/test_metrics_endpoint.py
  tests/integration/test_lifespan.py
  tests/integration/test_redis_resilience.py
  tests/performance/test_metrics_performance.py
  tests/performance/test_root_performance.py
  tests/unit/api/test_root.py
  tests/unit/core/test_factory.py
  tests/unit/observability/test_metrics.py
Due: radon-cc, radon-mi, pytest-check

docs(rewrite): removed unneeded liveness endpoint from API docs
  docs/api.md
  docs/api/recipe-scraper-openapi.yaml
Due: none

refactor(rewrite): updated recipe route to use common schema package
  src/app/api/v1/endpoints/recipes.py
  src/app/schemas/ingredient.py
  tests/unit/api/test_recipes.py
Due: radon-cc, radon-mi, pytest-check

refactor(rewrite): moved mapper/helpers out of route class
  src/app/api/v1/endpoints/recipes.py
  src/app/mappers/__init__.py
  src/app/mappers/recipe.py
  tests/unit/api/test_recipes.py
  tests/unit/mappers/__init__.py
  tests/unit/mappers/test_recipe.py
Due: radon-cc, radon-mi, pytest-check

ci(renovate): migrated from dependabot to renovate
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/dependabot-auto-merge.yml
Due: none

docs(rewrite): documented recipe scraping process
  docs/processes/recipe-scraping.md
Due: none

build(rewrite): fully migrated from poetry to uv
  .gitignore
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

feat(rewrite): added get-popular-recipe-endpoint with performance issues
  .pre-commit-config.yaml
  config/base/llm.yaml
  config/base/observability.yaml
  config/base/scraping.yaml
  pyproject.toml
  scripts/containerManagement/deploy-container.sh
  src/app/api/dependencies.py
  src/app/api/v1/endpoints/recipes.py
  src/app/core/config/settings.py
  src/app/core/events/lifespan.py
  src/app/llm/client/groq.py
  src/app/llm/prompts/__init__.py
  src/app/llm/prompts/recipe_link_extraction.py
  src/app/schemas/recipe.py
  src/app/services/popular/__init__.py
  src/app/services/popular/exceptions.py
  src/app/services/popular/extraction.py
  src/app/services/popular/llm_extraction.py
  src/app/services/popular/service.py
  tests/e2e/test_popular_recipes_endpoint.py
  tests/integration/conftest.py
  tests/integration/test_popular_recipes.py
  tests/performance/conftest.py
  tests/performance/test_popular_recipes_performance.py
  tests/unit/api/test_recipes.py
  tests/unit/services/popular/__init__.py
  tests/unit/services/popular/test_extraction.py
  tests/unit/services/popular/test_llm_extraction.py
  tests/unit/services/popular/test_scoring.py
  tests/unit/services/popular/test_service.py
  uv.lock
Due: radon-cc, radon-mi, pytest-check

refactor(rewrite): refactored popular recipe scraping to be handled by arq worker
  config/base/arq.yaml
  config/base/scraping.yaml
  docs/popular-recipes.md
  src/app/api/dependencies.py
  src/app/api/v1/endpoints/recipes.py
  src/app/core/config/settings.py
  src/app/services/popular/service.py
  src/app/workers/arq.py
  src/app/workers/jobs.py
  src/app/workers/tasks/popular_recipes.py
  tests/e2e/test_popular_recipes_endpoint.py
  tests/integration/test_popular_recipes.py
  tests/performance/test_popular_recipes_performance.py
  tests/unit/api/test_recipes.py
  tests/unit/workers/tasks/__init__.py
  tests/unit/workers/tasks/test_popular_recipes.py
  tests/unit/workers/test_arq.py
Due: radon-cc, radon-mi, pytest-check

refactor(plugins): moved popular recipe scraping to an arq worker
  src/app/services/popular/extraction.py
  src/app/services/popular/llm_extraction.py
  src/app/services/popular/service.py
  tests/unit/services/popular/test_extraction.py
  tests/unit/services/popular/test_llm_extraction.py
Due: radon-cc, radon-mi, pytest-check
