Repository Recipe-Web-App/recipe-scraper-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-cc, radon-mi, kube-score

Path conditions:
  radon-cc: any of: \.py$
  radon-mi: any of: \.py$
  kube-score: any of: k8s/.*\.yaml$

fix: reverted python image back to v13
  Dockerfile
Due: none

fix: reverted python image back to v13 (#76)
  Dockerfile
Due: none

fix: fixed broken pre-commit conventional commits config
  .pre-commit-config.yaml
Due: none

chore: removed poetry.lock from gitignore
  .gitignore
  poetry.lock
Due: none

Poetry lock fix (#77)
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
Due: none

fix(deploy): rolled back to python 13 due to ingredient-parser depend
  Dockerfile
Due: none

fix(deploy): rolled back to python 13 due to ingredient-parser depend (#85)
  Dockerfile
Due: none

chore(recipe-comments): updated ORM models to include recipe comments
  app/db/models/recipe_models/__init__.py
  app/db/models/recipe_models/recipe.py
  app/db/models/recipe_models/recipe_comment.py
Due: radon-cc, radon-mi

chore(recipe-comments): updated ORM models to include recipe comments (#96)
  app/db/models/recipe_models/__init__.py
  app/db/models/recipe_models/recipe.py
  app/db/models/recipe_models/recipe_comment.py
Due: radon-cc, radon-mi

feat(notification-service): implemented downstream client for auth service
  README.md
  app/api/v1/schemas/downstream/auth_service/__init__.py
  app/api/v1/schemas/downstream/auth_service/token_response.py
  app/core/config/service_urls.py
  app/deps/service_token_manager.py
  app/utils/service_token_manager.py
  tests/unit/utils/service_token_manager_test.py
Due: radon-cc, radon-mi

feat(notification-service): implemented downstream client for user management service
  app/api/v1/schemas/downstream/user_management_service/__init__.py
  app/api/v1/schemas/downstream/user_management_service/get_followed_users_response.py
  app/api/v1/schemas/downstream/user_management_service/user.py
  app/deps/user_management_service.py
  app/services/downstream/__init__.py
  app/services/downstream/base_service.py
  app/services/downstream/user_management_service.py
  tests/unit/services/downstream/base_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
Due: radon-cc, radon-mi

feat(notification-service): implemented downstream client for notification service
  app/api/v1/schemas/downstream/notification_service/__init__.py
  app/api/v1/schemas/downstream/notification_service/batch_notification_response.py
  app/api/v1/schemas/downstream/notification_service/notification_item.py
  app/api/v1/schemas/downstream/notification_service/recipe_published_request.py
  app/deps/notification_service.py
  app/services/downstream/__init__.py
  app/services/downstream/notification_service.py
  docs/source/app.api.v1.schemas.downstream.notification_service.rst
  docs/source/app.api.v1.schemas.downstream.user_management_service.rst
  tests/unit/services/downstream/notification_service_test.py
Due: radon-cc, radon-mi

feat(notification-service): added webhook for recipe notification
  app/api/v1/routes/recipes.py
  app/services/recipe_scraper_service.py
  tests/unit/services/recipe_scraper_service_test.py
Due: radon-cc, radon-mi

Notification service integration (#101)
  README.md
  app/api/v1/routes/recipes.py
  app/api/v1/schemas/downstream/auth_service/__init__.py
  app/api/v1/schemas/downstream/auth_service/token_response.py
  app/api/v1/schemas/downstream/notification_service/__init__.py
  app/api/v1/schemas/downstream/notification_service/batch_notification_response.py
  app/api/v1/schemas/downstream/notification_service/notification_item.py
  app/api/v1/schemas/downstream/notification_service/recipe_published_request.py
  app/api/v1/schemas/downstream/user_management_service/__init__.py
  app/api/v1/schemas/downstream/user_management_service/get_followed_users_response.py
  app/api/v1/schemas/downstream/user_management_service/user.py
  app/core/config/service_urls.py
  app/deps/notification_service.py
  app/deps/service_token_manager.py
  app/deps/user_management_service.py
  app/services/downstream/__init__.py
  app/services/downstream/base_service.py
  app/services/downstream/notification_service.py
  app/services/downstream/user_management_service.py
  app/services/recipe_scraper_service.py
  app/utils/service_token_manager.py
  docs/source/app.api.v1.schemas.downstream.notification_service.rst
  docs/source/app.api.v1.schemas.downstream.user_management_service.rst
  tests/unit/services/downstream/base_service_test.py
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recipe_scraper_service_test.py
  tests/unit/utils/service_token_manager_test.py
Due: radon-cc, radon-mi

docs: removed extra empty openapi spec
  .gitignore
  .pre-commit-config.yaml
  docs/openapi.json
  docs/openapi.yaml
Due: none

docs: removed extra empty openapi spec (#117)
  .gitignore
  .pre-commit-config.yaml
  docs/openapi.json
  docs/openapi.yaml
Due: none

fix: fixed CORS error
  app/core/config/config.py
  k8s/ingress.yaml
Due: radon-cc, radon-mi, kube-score

fix: fixed CORS error (#118)
  app/core/config/config.py
  k8s/ingress.yaml
Due: radon-cc, radon-mi, kube-score

fix: fixed recipe-scraper-service host
  app/services/recommendations_service.py
  scripts/shell/deploy-container.sh
  tests/unit/services/recommendations_service_test.py
Due: radon-cc, radon-mi

fix: fixed recipe-scraper-service host (#119)
  app/services/recommendations_service.py
  scripts/shell/deploy-container.sh
  tests/unit/services/recommendations_service_test.py
Due: radon-cc, radon-mi

fix: fixed auth introspection URL
  app/core/config/config.py
  app/core/security.py
  config/oauth2.yaml
Due: radon-cc, radon-mi

fix: fixed auth introspection URL (#120)
  app/core/config/config.py
  app/core/security.py
  config/oauth2.yaml
Due: radon-cc, radon-mi

fix: fixed errors adding recipes to db
  app/api/v1/schemas/common/recipe.py
  app/db/models/recipe_models/recipe_step.py
  app/services/recipe_scraper_service.py
Due: radon-cc, radon-mi

fix: fixed errors adding recipes to db (#121)
  app/api/v1/schemas/common/recipe.py
  app/db/models/recipe_models/recipe_step.py
  app/services/recipe_scraper_service.py
Due: radon-cc, radon-mi

fix: fixed downstream service URLs
  app/core/config/service_urls.py
  config/service_urls.yaml
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
Due: radon-cc, radon-mi

fix: fixed downstream service URLs (#122)
  app/core/config/service_urls.py
  config/service_urls.yaml
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
Due: radon-cc, radon-mi

chore: auto updated all pre commit hooks
  .github/SUPPORT.md
  .pre-commit-config.yaml
  DEPLOYMENT.md
Due: none

chore: auto updated all pre commit hooks (#132)
  .github/SUPPORT.md
  .pre-commit-config.yaml
  DEPLOYMENT.md
Due: none

fix: fixed poetry lock file
  poetry.lock
Due: none

fix: fixed poetry lock file (#138)
  poetry.lock
Due: none

feat(kong): migrated service from ingress nginx to kong gateway
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  k8s/network-policy.yaml
  scripts/shell/cleanup-container.sh
  scripts/shell/deploy-container.sh
Due: kube-score

refactor(kong): updated service host references to use kong proxy
  app/core/config/config.py
  app/core/config/service_urls.py
  app/services/recommendations_service.py
  config/oauth2.yaml
  config/service_urls.yaml
  postman/README.md
  postman/Recipe-Scraper-Development.postman_environment.json
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recommendations_service_test.py
Due: radon-cc, radon-mi

Kong migration (#140)
  app/core/config/config.py
  app/core/config/service_urls.py
  app/services/recommendations_service.py
  config/oauth2.yaml
  config/service_urls.yaml
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  k8s/network-policy.yaml
  postman/README.md
  postman/Recipe-Scraper-Development.postman_environment.json
  scripts/shell/cleanup-container.sh
  scripts/shell/deploy-container.sh
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recommendations_service_test.py
Due: radon-cc, radon-mi, kube-score

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema
  app/api/v1/schemas/downstream/user_management_service/__init__.py
  app/api/v1/schemas/downstream/user_management_service/notification_preferences.py
  app/api/v1/schemas/downstream/user_management_service/preference_category_response.py
  app/services/downstream/user_management_service.py
  app/services/recipe_scraper_service.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recipe_scraper_service_test.py
Due: radon-cc, radon-mi

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema (#143)
  app/api/v1/schemas/downstream/user_management_service/__init__.py
  app/api/v1/schemas/downstream/user_management_service/notification_preferences.py
  app/api/v1/schemas/downstream/user_management_service/preference_category_response.py
  app/services/downstream/user_management_service.py
  app/services/recipe_scraper_service.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recipe_scraper_service_test.py
Due: radon-cc, radon-mi

docs: updated claude.md
  .markdownlintignore
  CLAUDE.md
Due: none

docs: updated all outdated docs
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  DEPLOYMENT.md
  README.md
Due: none

Doc update (#148)
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  .markdownlintignore
  CLAUDE.md
  DEPLOYMENT.md
  README.md
Due: none
